consumerApp/telcoServiceConsumerEJB/build
consumerApp/telcoServiceConsumerWEB/build

./telcoServiceEJB_v2/ejbModule/META-INF/persistence.*
telcoServiceEJB_v2/build/classes/entities 

telcoServiceEJB_v2/build/classes/services 
COMMENTSONEJB.txt
telcoServiceEJB_v2/build/classes/exceptions 
