/* Bordered form */
form {
	border: 3px solid #f1f1f1;
}

/*header style*/
h1 {
	padding: 20px;
	text-align: center;
	font-size: 30px;
	font-family: Calibri;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
}

table, th, td {
	border-collapse: collapse;
	width: 50%;
	padding: 15px;
	text-align: left;
}

th, td {
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #04AA6D;
	color: white;
}

/* table.main tr:nth-child(even) { */
/* 	background-color: #c4e6c6; */
/* } */
h2 {
	padding: 20px;
	text-align: left;
	font-size: 25px;
	font-family: Calibri;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
}

h3 {
	padding: 20px;
	text-align: left;
	font-size: 15px;
	font-family: Calibri;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* label */
* {
	font-family: Calibri;
}
/* Set a style for all buttons */
button {
	background-color: #04AA6D;
	color: rgb(255, 255, 255);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
	background-color: #f44336;
	color: rgb(255, 255, 255);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}