<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="./css/mystyle.css" />

<title>Buy page</title>
</head>
<body>

	<h1>Buy Service Package</h1>
	<p
		th:text="|Service Package name and ID: ${servicePackage.getName()}, ${servicePackage.getId()}|">Service
		Package: name, id</p>
		
		<table>
			<tr>
				<th>Services</th>
			</tr>
			<tr th:each="s : ${services}">
				<td th:text="${s}">service</td>
			</tr>
		</table>

	<form action="Confirmation" method="POST">
		<input type="hidden" value="1"
			th:attr="value=${servicePackage.getId()}" name="packageID">
		<table>
			<tr>
				<th>Optional product</th>
				<th>Select</th>

			</tr>
			<tr th:each="op : ${associableOptionalProducts}"
				th:if="${associableOptionalProducts!=null}">
				<td th:text="${op.name}">op1</td>
				<td><input type="checkbox" th:field="${op}"
					name="optionalProduct" th:value="${op.name}" /></td>
			</tr>
		</table>

		<br> <br> Validity Period : <select th:field="vp"
			name="validityPeriod">
			<option disabled>Select a validity period for the package</option>
			<option th:each="vp : ${vps.keySet()}"
				th:value="${vp.months}"
				th:text="|${vp.months} months -> ${vps.get(vp)} $/month|">12
				months -> 10.43 $/month</option>
		</select> <br> <br> <label for="startingDate">Starting date :</label>
		<input type="date" min="2022-02-01"
			th:attr="min=${#calendars.format(minimumDate,'yyyy-MM-dd')}"
			id="startingDate" name="startingDate" required> <br> <br>
		<button type="submit" value="submit">Confirm</button>
	</form>

</body>
</html>