<!-- LIST OF SERVICEPACKAGES servicePackages AND BUTTONS (/OptionalProductCreationPage and /ServicePackageCreationPage) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HomeEmployee</title>
<link rel="stylesheet" type="text/css" href="./css/mystyle.css" />

</head>
<body>
	<div align="right" 
		th:text="${session.user}">WELCOME Tizio</div>
	<h1>Employee HOME PAGE</h1>

	<h1>Service packages list</h1>

	<table>
		<tr>
			<th>Name</th>
			<th>Services</th>
		</tr>
		<tr th:each="sp : ${servicePackages}">
			<td th:text="${sp.name}">Family</td>
			<td>
				<table>
					<tr th:each="s : ${sp.getServices()}">
						<td th:text="${s.toString()}">Fixed Phone Service</td>
				</table>
	</table>
	
	<table>
			<tr>
				<th>Product name</th> 
				<th>Monhtly fee</th>

			</tr>
			<tr th:each="op : ${optionalProducts}" >
				<td th:text="${op.getName()}">op1</td>
				<td th:text ="${op.getFee()}">1.90</td>
			</tr>
		</table>
	
	<form action="ServicePackageCreationPage" >
		<button type="submit" value="goToSPCreation">Create new service package</button>
	</form>
	
	<form action="OptionalProductCreationPage">
		<button type="submit" value="goToOPCreation">Create new optional product</button>
	</form>
	<form action="SalesReport" method="GET">
		<button type="submit" value="Take me to Sales Report Page">SalesReportPage</button>
	</form>
	
	
	
</body>
</html>