<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="./css/mystyle.css" />

</head>
<body>
			
	<div align="right" th:if="${session.user!=null}"
		th:text="${session.user}">USER : Tizio</div>
		<br>
	<div align="right" th:if="${session.user!=null}"> <a th:href="@{/Logout}">LOGOUT</a></div>
			<br>
		
		
	<h1>Welcome to the Telco Service Application Home Page</h1>

	<h2>Service packages list</h2>

	<table>
		<tr>
			<th>Name</th>
			<th>Services</th>
			<th>BUY</th>
		</tr>
		<tr th:each="sp : ${servicePackages}">
			<td th:text="${sp.name}">Family</td>
			<td>
				<table class = "subtable">
					<tr th:each="s : ${sp.getServices()}">
						<td th:text="${s.toString()}">Fixed Phone Service</td>
					</tr>
				</table>
			<td><a th:href="@{/BuyPage(pid=${sp.id})}">BUY</a></td>
		</tr>
	</table>
	<p th:text=" ${orderSuccededMSG}"></p>
	<br> <br>
	
	<table th:if="${rejectedOrders!=null}">
		<tr>
			<th>Rejected Order</th>
			<th>Action</th>
		</tr>
		<tr th:each="ro : ${rejectedOrders}">
			<td th:text="${ro.id}">4</td>
			<td><a th:href="@{/Buy(rejectedOrderID=${ro.id})}">Attempt new payment</a></td>
		</tr>
	</table>
</body>
</html>