<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SalesReport</title>
<link rel="stylesheet" type="text/css" href="./css/salesReport.css" />
</head>
<body>
	<h1>Sales report page</h1>

	<br>
	<br>
	<div>
		Number of purchases per service package:
		<table>
			<tr>
				<th>Service Package ID</th>
				<th>Number of purchases</th>
			</tr>
			<tr th:each="x : ${salesPerSP}">
				<td th:text="${x[0]}">2</td>
				<td th:text="${x[1]}">4</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<div>
		Number of purchases per service package:
		<table>
			<tr>
				<th>Service Package ID</th>
				<th>Validity Period</th>
				<th>Number of purchases</th>
			</tr>
			<tr th:each="p : ${purchasesPerPackageVP}">
				<td th:text="${p.PackageVPKEY.getServicePackage()}">4</td>
				<td th:text="${p.PackageVPKEY.getValidityPeriodMonths()">12</td>
				<td th:text="${p.getCounter()}">2</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<div>
		Total value of sales per package with at least one optional product:
		<table>
			<tr>
				<th>Service Package ID</th>
				<th>Number of sales with at least one optional product</th>
			</tr>
			<tr th:each="w : ${salesSpWithOpts}">
				<td th:text="${w[0]}">4</td>
				<td th:text="${w[1]}">3</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<div>
		Total value of sales per package without an optional product:
		<table>
			<tr>
				<th>Service Package ID</th>
				<th>Number of sales without an optional product</th>
			</tr>
			<tr th:each="s : ${salesSpWithoutOpts}">
				<td th:text="${s[0]}">4</td>
				<td th:text="${s[1]}">3</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<div>
		Average number of optional products sold together with each service
		package.
		<table>
			<tr>
				<th>Service Package ID</th>
				<th>Avarage number of sales</th>
			</tr>
			<tr th:each="a : ${avgOptsSP}">
				<td th:text="${a[0]}">4</td>
				<td th:text="${a[1]}">2</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<div>
		List of insolvent Users:
		<table>
			<tr>
				<th>Username</th>
			</tr>
			<tr th:each="i : ${insolventUsers}">
				<td th:text="${i.getUsername()}">Tizio</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<div>
		List of suspended orders:
		<table>
			<tr>
				<th>OrderID</th>
			</tr>
			<tr th:each="o : ${rejectedOrders}">
				<td th:text="${o.getId()}">4</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<div>
		List of alerts:
		<table>
			<tr>
				<th>Consumer Username</th>
			</tr>
			<tr th:each="a : ${alerts}">
				<td th:text="${a.getUsername()}">Tizio</td>
			</tr>
		</table>
	</div>
	<br>
	<br>
	<p>
		Best seller Optional Product: <span
			th:text="${{bestSellers.get(0).getProductName()}">op1</span>
	</p>
	<br>
	<br>
	<form action="EmployeeHomePage" method="GET">
		<button type="button" value="Take me to EMPLOYEE HOME PAGE">HomePage</button>
	</form>

</body>
</html>