<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="./css/mystyle.css"/>
<title>Login page</title>
</head>
<body>
	<h1>Welcome to the TELCO Service Consumer Application</h1>

	<form action="DoLogin" method="POST">
		<div class="container">
			<label for="uuname"><b>Username</b></label> <input type="text"
				placeholder="Enter Username" name="loginUsername" required>

			<label for="uupsw"><b>Password</b></label> <input type="password"
				placeholder="Enter Password" name="loginPassword" required>

			<button type="submit" value="login">Login</button>
			<p th:text=" ${loginFailedMSG}"></p>
		</div>
	</form>
	<h3>
		Don't have an account? Register form below
	</h3>
	
	<form action="DoRegistration" method="POST">
		<div class="container">
			<label for="uuname"><b>E-Mail</b></label> <input type="text"
				placeholder="Enter email" name="regEmail" required>
			
			<label for="uuname"><b>Username</b></label> <input type="text"
				placeholder="Enter Username" name="regUsername" required>

			<label for="uupsw"><b>Password</b></label> <input type="password"
				placeholder="Enter Password" name="regPassword" required>

			<button type="submit" value="Sign up">Sign up</button>
			<p th:text=" ${regFailedMSG}"></p>
		</div>
	</form>
	
	<form action="GoToHomePage" method="GET">
		<button type="submit" value="Take me to HOME PAGE">HomePage</button>
	</form>
	
	

</body>
</html>
