<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<body>
	<h1>Welcome to the Telco Service Consumer Application</h1>

	<form action="DoLogin" method="POST">
		Username: <input type="text" name="loginUsername" required> <br>
		Password: <input type="password" name="loginPassword" required><br>
		<input type="submit" value="Login">
		<p th:text=" ${loginFailedMSG}"></p>
	</form>

	<br>
	<br>

	<form action="DoRegistration" method="POST">
		Email : <input type="email" name="regEmail" required> <br>
		Username: <input type="text" name="regUsername" required> <br>
		Password: <input type="password" name="regPassword" required><br>
		<input type="submit" value="Sign up">
		<p th:text=" ${regFailedMSG}"></p>
	</form>

	<br>
	<br>

	<form action="GoToHomePage" method="GET">
		<input type="submit" value="Take me to HOME PAGE">
	</form>

</body>
</html>